<footer class="gdoc-footer">
  <nav class="container flex">
    <div>
      <section class="flex flex-wrap align-center">
        <span class="gdoc-footer__item gdoc-footer__item--row">
          © 2025 duksoo.dev
        </span>
      </section>
    </div>
    {{ if (default true .Site.Params.geekdocBackToTop) }}
      <div class="flex flex-25 justify-end">
        <span class="gdoc-footer__item text-right">
          <a class="gdoc-footer__link fake-link" href="#" aria-label="{{ i18n "nav_top" }}">
            <svg class="gdoc-icon gdoc_keyboard_arrow_up">
              <use xlink:href="#gdoc_keyboard_arrow_up"></use>
            </svg>
            <span class="hidden-mobile">{{ i18n "nav_top" }}</span>
          </a>
        </span>
      </div>
    {{ end }}
  </nav>
</footer>
